<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.paulsonnentag.balanceboard" version="1.0.0">
  <name>Balance Board</name>
  <description>Cordova plugin to comunicate with the Wii Balance Board</description>
  <keywords>balance board, wii, bluetooth</keywords>

  <js-module src="www/EventEmitter.js" name="EventEmitter">
    <clobbers target="EventEmitter"/>
  </js-module>
  <js-module src="www/balanceboard.js" name="balanceBoard">
    <clobbers target="balanceBoard"/>
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BalanceBoard">
        <param name="android-package" value="com.paulsonnentag.balanceboard.BalanceBoardPlugin"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.BLUETOOTH"/>
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    </config-file>
    <source-file src="src/android/BalanceBoardPlugin.java" target-dir="src/com/paulsonnentag/balanceboard/"/>
    <source-file src="src/android/BalanceBoard.java" target-dir="src/com/paulsonnentag/balanceboard/"/>
    <source-file src="src/android/WiimoteSocket.java" target-dir="src/com/paulsonnentag/balanceboard/"/>
  </platform>

</plugin>
