@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    background: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.app {
    width: 100%;
    height: 100%;
}

.app #widget {
    display: none;
}

.app.show-widget #weather {
    display: none;
}

.app.show-widget #widget {
    display: inherit;
}

#widget {
    width: 100%;
    height: 100%
}

.weight-widget {
    position: relative;
}

.weight-widget .weight {
    margin: 0;
    width: 200px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-out;
}

.weight-widget.show-content .weight {
    left: 0%;
    transform: translate(0, -50%);
    zoom: 0.75;
}

.weight-content {
    width: 100%;
    padding-left: 200px;
}

.weight-number {
    display: inline-block;
    margin-right: 10px;
    font-size: 2em;
}

.weight-unit {
    font-family: RobotoLight;
}


.weater-icon {
    display: inline-block;
}

.weather-main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.weather-temperature {
    font-size: 2em;
    margin-left: 20px;
}

.weather-summary {
    margin-top: 5px;
    text-align: center;
    font-family: RobotoLight;
}


.clock {
    text-align: center;
}

.clock-time {
    margin: 0;
}

.clock-date {
    margin: 5px 0 0 0;
    font-family: RobotoLight;
}