/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/Roboto-Light-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    background: #000;
    color: #fff;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2em;
}

.app {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.widget {
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

.widgets {
    transition: opacity 0.5s ease-in, transform 0.7s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.show-widget .widgets{
    opacity: 1;
}

.weight-widget {
    position: relative;
}

.weight-widget h1, .new-user {
    text-align: center;
}

.weight-widget .weight {
    margin: 0;
    width: 200px;
    text-align: center;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-out;
}

.weight-widget.show-content .weight {
    right: 0;
    transform: translate(0, -50%);
}

.weight-content {
    width: 100%;
}

.weight-number {
    display: inline-block;
    margin-right: 10px;
    font-size: 2em;
}

.weight-unit {
    font-family: RobotoLight;
}

.weather {
    position: absolute;
    left: 0;
    transition: all 0.5s ease-in;
    width: 100%;
    height: 50%;
}

.weather-main {
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.weather-temperature {
    transition: font-size 0.5s ease-in;
    font-size: 2em;
    margin-left: 20px;
}

.weather-summary {
    margin-top: 5px;
    text-align: center;
    font-family: RobotoLight;
    transition: opacity 0.5s ease-in;
}

.show-widget .weather {
    width: 0;
    left: 20px;
    top: -20px;
}

.show-widget .weather-summary {
    opacity: 0;
}

.show-widget .weather-temperature {
    font-size: 24px;
}

.clock {
    white-space: nowrap;
    transition: all 0.7s ease-in;
    position: absolute;
    top: 50%;
    right: 0;
    padding-top: 20px;
    height: 50%;
    width: 100%;
    text-align: center;
}

.clock-time {
    transition: font-size 0.7s ease-in;
    margin: 0;
}

.clock-date {
    transition: opacity 0.2s ease-in;
    margin: 5px 0 0 0;
    font-family: RobotoLight;
}

.show-widget .clock {
    top: 0%;
    padding-right: 20px;
    width: 170px;
}

.show-widget .clock-time {
    font-size: 24px;
}

.show-widget .clock-date{
    opacity: 0;
}

.chart {
    margin-left: 30px
}

.qod {
    height: 100%;
    width: 100%;
    position: relative;
}

.qod-quote {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
}

.qod-message {
    font-size: 24px;
    margin: 0;
}

.qod-author{
    margin-top: 10px;
    font-family: RobotoLight;
}

.qod-credit, .image-widget-copyright {
    font-family: RobotoLight;
    position: absolute;
    bottom: 0;
    right: 20px;
    text-shadow: 0 0 #000;
}

.image-widget {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.calendar {
    position: relative;
    width: 100%;
    height: 100%;
}

.calendar-subtitle{
    font-size: 20px;
    margin: 50px 0 10px 0;
}

.calendar-title {
    margin: 0;
}

.calendar-event {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
}
